/* Place all of your CSS Code in this file */

/********************************************************************************* 
*
* WEB222 – Assignment #4a
*
* I declare that this assignment is my own work in accordance with Seneca 
* Academic Policy. No part of this assignment has been copied manually or 
* electronically from any other source (including web sites) or distributed to 
* other students. 
* 
* Name: ANDRE R Student ID:  Date: 17 MARCH 2018 
* 
********************************************************************************/

@import url(https://fonts.googleapis.com/css?family=Pacifico);

/* 1 */
body { color:darkslateblue ;}
/* 2 */
nav, footer { background-color: darkslateblue;}
/* 3 */
header { font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         font-size: large;}
/* 4 */
.app-title { font-family: 'Pacifico', cursive;
             text-align: center; 
             font-size: 3em;}
/* 5 */
.main-table-container { max-height: 42em;
                        min-height: 12em;
                        overflow-y: scroll;
                        border: 1px solid white;}
/* 6 */
/* all th elments that are child of main-table-top */
.main-table-top th {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: darkslateblue;
    color: white;}

/* 7 */
/* all td elements that are child of main-table */
.main-table td {
    border: 1px solid white;
    text-align: left;
    background-color: rgba(130, 130, 130, 1);
    color: white;}

/* 8 */
/* all span elements that are inside p elements that are inside main-table */
.main-table p span {
       font-weight: bold;
       color: gold;

}

/* just to highlight the dog name*/
h4 {
    color: yellow;
}
