/********************************************************************************* 
 *
 * WEB222 – Assignment #4a
 *
 * I declare that this assignment is my own work in accordance with Seneca 
 * Academic Policy. No part of this assignment has been copied manually or 
 * electronically from any other source (including web sites) or distributed to 
 * other students. 
 * 
 * Name: ANDRE R Student ID:  Date: 17 MARCH 2018 
 * 
 ********************************************************************************/


 .main-container {
     max-width: 960px;
     margin-top: 0px;
     margin-bottom: 0px;
     margin-left: auto;
     margin-right: auto;
 }

 /* all nav elements inside main-container class */
 .main-container nav {
    width: 30%;
    float: left;
 }

 /* main class inside the main-container class */
 .main-container .main {
     width: 70%;
     float: right;
 }

 /* all head elements inside the main-container class */
 .main-container header {
     padding: 10px;
     background-color: #EEEEEE;
     border-bottom: 1px solid #CCCCCC;
     margin-bottom: 30px;
 }

 /* all h1 elements inside the header elements that are inside the main-container class */ 
 .main-container header h1 {
     width: 70%;
     font-size: 24px;
     float: right;
     text-align: right;
     margin-top: 10px;

 }

/* element footer inside main-container */
 .main-container footer {
     clear: both;
     padding-bottom: 20px;
     padding-top: 20px;
     padding-left: 10px;
     padding-right: 10px;
     background-color: #EEEEEE;
     border-top: 1px solid #CCCCCC;
     font-size: 13px;
 }

 #logo {
     width: 30%;
     font-size: 25px;
     font-weight: bold;
 }

/*img element inside the id logo */
 #logo img {
     width: 94px;
     vertical-align: middle;
 }

 /* all ul elements inside all nav elements */
 nav ul {
     list-style-type: none;
 }

/* all a elements inside all ul elements inside all nav elements */ 
 nav ul a {
     display: block;
     text-decoration: unset;
     padding: 5px;
 }

/* all div classes province */
 div.province {
    width: 30%;
    float: left;
    margin: 8px;
    height: 310px;
 }

 /* all description class inside div.province */
 div.province .description {
      max-height: 165px;
      overflow-y: auto;
      overflow-x: hidden;
      margin-top: 8px;
      margin-bottom: 8px;
 }

 /* all a tags inside the div.province class */
 div.province a {
      display: block;
      text-align: center;
      background-color: #555555;
      color: #EEEEEE;
      text-decoration: unset;
      padding: 5px
 }

 /* all image tags of the flag class */
 img.flag {
        width: 100%;
 }